/* Load your custom font */
@font-face {
  font-family: 'Broadacre Light 4';
  src: url('/fonts/BROADACRE_LIGHT_2.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Global base styles */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Broadacre Light 4', sans-serif;
  background-color: #0f0914;
  overflow: hidden;
}
